* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e2d24;
  color: #ededed;
}

body,
.SideBar {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.Layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.SideBar {
  width: 12vw;
  height: 99vh;
  margin: 4px;
  border: #a3b18a solid 1px;
  border-radius: 10px;
  background-color: #2d3c33;
  text-align: center;
  padding-top: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(0);
  opacity: 1;
}

.SideBarOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
}

.Navigation {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  text-decoration: none;
  background-color: #6b8f71;
  /* background-color: #94bd9b; */
  color: #333333;
  border: #333333 2px solid;
  overflow: hidden;
  height: 4vh;
  width: 11vw;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.Navigation:hover {
  transform: translateY(-5px);
  background-color: #4b6b58;
  color: #ededed;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Theme styles */
html.dark-mode body {
  background-color: #1e2d24;
  color: #ededed;
}

html.light-mode body {
  background-color: #f7f7f7;
  color: #333333;
}

html.dark-mode .SideBar {
  background-color: #2d3c33;
}

html.light-mode .SideBar {
  background-color: #91c788;
}

/* Dark mode hover style */
html.dark-mode .Navigation:hover {
  background-color: #58725d;
  color: #ededed;
}

/* Light mode hover style */
html.light-mode .Navigation:hover {
  background-color: #4b6b58;
  color: #ededed;
}

html.light-mode .SettingsIcon {
  color: black;
  transition: color 0.3s ease;
}

html.light-mode .Restart {
  color: black;
  transition: color 0.3s ease;
}

.SideBar.hide {
  transform: translateX(-100%);
  opacity: 0;
}

.bars {
  margin: 12px 12px 12px 0;
  margin-left: 1vw;
  font-size: 25px;
  cursor: pointer;
  transition: margin-left 0.3s ease;
}

.bars.shift-left {
  margin-left: -11vw;
}

.MainPageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Controls {
  display: flex;
  gap: 10px;
}

.InputField {
  position: relative;
  bottom: 9vw;
}

.InputTask {
  height: 5vh;
  width: 20vw;
  padding: 4px;
  display: none;
}

.AddTask {
  height: 5vh;
  width: 3.5vw;
}

.Tasks {
  display: flex;
  gap: 20px;
  /* border: #a3b18a solid 4px; */
}

.TimerContent {
  /* padding-top: 100px;
  padding-bottom: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ModeButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ModeButtons button {
  height: 40px;
  width: 90px;
}

.Timer {
  font-size: 80px;
  text-align: center;
  padding: 20px;
  padding-top: 10px;
}

.PlayButton {
  height: 50px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.PauseButton {
  height: 50px;
  width: 100px;
  border: none;
  display: none;
  cursor: pointer;
}

.Play {
  font-size: 30px;
}

.Pause {
  font-size: 30px;
}

.RestartButton {
  background: none;
  border: none;
  cursor: pointer;
}

.Restart {
  font-size: 30px;
  color: #ededed;
}

.SettingsButton {
  background: none;
  border: none;
  cursor: pointer;
}

.SettingsIcon {
  font-size: 30px;
  color: #ededed;
}

/* Dark and Light Mode Styling */

.Moon {
  font-size: 30px;
}

.DarkMode {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.DarkModeDiv {
  display: none;
  /* margin: 10px; */
  position: fixed;
  top: 20px;
  right: 20px;
}

.Sun {
  font-size: 30px;
}

.LightMode {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.LightModeDiv {
  /* margin: 10px; */
  position: fixed;
  top: 20px;
  right: 20px;
}

/* Tasks Page CSS */
.Plus {
  font-size: 30px;
}

.AddTasksButton {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
}

.AddTasks {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .SideBar {
    width: 99vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0 10px 10px 0;
  }

  .bars {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1100;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .bars.shift-left {
    margin-left: 0;
  }

  .Navigation {
    width: 90vw;
  }
}
