* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e2d24;
  color: #ededed;
}

body,
.SideBar {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.Layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.SideBar {
  width: 12vw;
  height: 99vh;
  margin: 4px;
  border: #a3b18a solid 1px;
  border-radius: 10px;
  background-color: #2d3c33;
  text-align: center;
  padding-top: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(0);
  opacity: 1;
}

.SideBarOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
}

.Navigation {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  text-decoration: none;
  background-color: #6b8f71;
  /* background-color: #94bd9b; */
  color: #333333;
  border: #333333 2px solid;
  height: 35px;
  width: 200px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.Navigation:hover {
  transform: translateY(-5px);
  background-color: #4b6b58;
  color: #ededed;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Theme styles */
html.dark-mode body {
  background-color: #1e2d24;
  color: #ededed;
}

html.light-mode body {
  background-color: #f7f7f7;
  color: #333333;
}

html.dark-mode .SideBar {
  background-color: #2d3c33;
}

html.light-mode .SideBar {
  background-color: #91c788;
}

/* Dark mode hover style */
html.dark-mode .Navigation:hover {
  background-color: #58725d;
  color: #ededed;
}

/* Light mode hover style */
html.light-mode .Navigation:hover {
  background-color: #4b6b58;
  color: #ededed;
}

.SideBar.hide {
  transform: translateX(-100%);
  opacity: 0;
}

.bars {
  margin: 12px 12px 12px 0;
  margin-left: 1vw;
  font-size: 25px;
  cursor: pointer;
  transition: margin-left 0.3s ease;
}

.bars.shift-left {
  margin-left: -11vw;
}

.MainPageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.InputField {
  position: relative;
  bottom: 9vw;
}

.InputTask {
  height: 5vh;
  width: 20vw;
  padding: 4px;
  display: none;
}

.AddTask {
  height: 5vh;
  width: 3.5vw;
}

.Tasks {
  display: flex;
  gap: 20px;
  /* border: #a3b18a solid 4px; */
}

.TimerContent {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ModeButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ModeButtons button {
  height: 40px;
  width: 90px;
}

.PlayButton {
  height: 50px;
  width: 100px;
  border: none;
}

.Play {
  font-size: 30px;
}

.Timer {
  font-size: 30px;
  text-align: center;
}

/* Dark and Light Mode Styling */

.Moon {
  font-size: 30px;
}

.DarkMode {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
}

.DarkModeDiv {
  display: none;
  margin: 8px;
}

.Sun {
  font-size: 30px;
}

.LightMode {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
}

.LightModeDiv {
  margin: 8px;
}
