* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  color: #333333;
}

.Layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.SideBar {
  width: 12vw;
  height: 99vh;
  margin: 4px;
  border: #a3b18a solid 1px;
  border-radius: 10px;
  background-color: #91c788;
  text-align: center;
  padding-top: 5px;
}

.bars {
  margin: 12px;
  font-size: 25px;
  cursor: pointer;
}

.MainPageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Tasks {
  display: flex;
  gap: 20px;
  /* border: #a3b18a solid 4px; */
}

.Timer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.PlayButton {
  height: 50px;
  width: 100px;
  border: none;
}

.Play {
  font-size: 30px;
}

/* Dark and Light Mode Styling */

.Moon {
  font-size: 30px;
}

.DarkMode {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
}

.DarkModeDiv {
  margin: 8px;
}

.Sun {
  font-size: 30px;
}

.LightMode {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
}

.LightModeDiv {
  display: none;
  margin: 8px;
}
